# List of untracked files to ignore
.vscode
build
cpp_python_integration_test
cython

local

pysol.cpp
pysol.cp38-win_amd64.pyd

intspeed.c 
intspeed.cp38-win_amd64.pyd


function_manipulation/main.exe